@font-face {
	font-family: 'SUITE';
	font-weight: 300;
	src: local('SUITE Light'), url('./SUITE-Light.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 400;
	src: local('SUITE Regular'), url('./SUITE-Regular.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 500;
	src: local('SUITE Medium'), url('./SUITE-Medium.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 600;
	src: local('SUITE SemiBold'), url('./SUITE-SemiBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 700;
	src: local('SUITE Bold'), url('./SUITE-Bold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 800;
	src: local('SUITE ExtraBold'), url('./SUITE-ExtraBold.woff2') format('woff2');
}
@font-face {
	font-family: 'SUITE';
	font-weight: 900;
	src: local('SUITE Heavy'), url('./SUITE-Heavy.woff2') format('woff2');
}